@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-dark-pink: #e73e6e;
  --color-med-pink: #ffa6be;
  --color-light-pink: #ffb8e0;
  --color-white-pink: #ffdbe7;
  --color-white: #ffedfa;

  --font-cal-sans: "Cal Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: #ffa6be;
  height: 8px;
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffedfa;
  cursor: ew-resize;
  border: 2px solid #ffb8e0;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffedfa;
  cursor: ew-resize;
  border: 2px solid #ffb8e0;
}

.slider::-moz-range-track {
  background: #ffa6be;
  height: 8px;
  border-radius: 5px;
}
