@import "tailwindcss";

@theme {
  --color-dark-pink: #e73e6e;
  --color-med-pink: #ffa6be;
  --color-light-pink: #ffb8e0;
  --color-white-pink: #ffdbe7;
  --color-white: #ffedfa;

  --font-roboto: "Poppins", sans-serif;
}

.nosifer-regular {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: #ffa6be;
  height: 8px;
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffedfa;
  cursor: ew-resize;
  border: 2px solid #ffb8e0;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffedfa;
  cursor: ew-resize;
  border: 2px solid #ffb8e0;
}

.slider::-moz-range-track {
  background: #ffa6be;
  height: 8px;
  border-radius: 5px;
}
